.bloco-issues {
    position: fixed;
    height: 100%;
    width: 60%;
    background: white;
    top: auto;
    top: 7vh;
    right: 0;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
}

.bloco-issues-background {
    position: absolute;
    height: 100%;
    width: 40%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.close {
    color: #C00063;
    font-weight: bolder;
    background-color: transparent;
    border: none;
    margin-left: 95%;
    margin-top: 2%;
    cursor: pointer;
    font-size: 1.5rem;
}


.container-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
    padding-top: 1rem;
}

    .container-content h1 {
        text-decoration: underline;
        font-weight: bold;
        font-size: 1.5rem;
    }

.titulo-detalhe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
}

    .titulo-detalhe h1, p {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px 10px;
        gap: 10px;
    }

    .titulo-detalhe p {
        color: rgba(0, 0, 0, 0.65);
        font-weight: bold;
    }

    .titulo-detalhe h1 {
        color: #000000;
    }

        .titulo-detalhe h1:hover {
            color: #C00063;
        }

.titulo-historico {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    color: #000000;
    text-decoration: none !important;
    margin-bottom: 0;
    font-size: 1.2rem !important;
}

.hora-total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 10px;
    gap: 5px;
    color: rgba(0, 0, 0, 0.65) !important;
    font-size: 1.2rem;
}

    .hora-total p {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 5px;
        font-weight: bold;
    }

    .hora-total span {
        color: #e20074;
    }

.detalhe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 10px;
    gap: 10px;
    overflow-y: scroll;
    height: 60vh;
}

.data {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 0px;
    gap: 10px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    text-decoration: none !important;
    margin-bottom: 0;
    font-size: 1.2rem !important;
}

.horas-lancadas {
    color: #e20074
}

.lancou {
    color: #595959;
}

.authors {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

author-hours {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    width: 100%;
    padding: 10px;
    gap: 10px;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.14);
    border-image: initial;
    border-radius: 5px;
    margin: 0px !important;
}

.horas {
    margin-top: 2%;
    display: flex;
    color: #595959;
    font-weight: bold;
    align-items: center;
}

.authors {
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid #EDEDED;
    font-weight: bold;
    flex-wrap: wrap;
    padding: 5px;
    margin-bottom: 5px;
}

.detalhe::-webkit-scrollbar {
    width: 8px;
}

.detalhe::-webkit-scrollbar-track {
    background-color: #F5E7EE;
}

.detalhe::-webkit-scrollbar-thumb {
    background-color: #C00063;
    border-radius: 4px;
}

    .detalhe::-webkit-scrollbar-thumb:hover {
        background-color: #C61A73;
    }
