@page "/teste"
@using EstatisticasFutebol.Business_Logic.Services.Interface
@inject IJSRuntime JSRuntime

<PageTitle>Teste</PageTitle>

<button type="button" @onclick="() => TesteAPI()">TESTE</button>